body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url(images/default.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wBtn {
    display: flex;
    justify-content: center;
    margin-top: 9em;
}

input {
    padding: 2em 6em;
    border-radius: 3em;
    background-color: darkgray;
    border: none;
    margin-top: 3em;
    font-size: 1em;
}

button {
    padding: 17px 27px;
    border-radius: 2em;
    background-color: #000;
    color: white;
    font-size: 1em;
}

button:hover {
    background-color: rgb(207, 195, 195);
    opacity: 0.9;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

h1 {
    color: white;
    border: 2px solid white;
    padding: 1em 1em;
    font-size: 1.5em;
    border-radius: 2em;
}